<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WebP</title>
	<script src="css/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link href="css/index.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div th:include="header::copy"></div>
	</nav>


   <!-- Page Content -->
    <div class="container">
		<br>
       	<div class="row">
        	<center><span class="mainTitle h1">　 Anela　</span></center>
		</div>
		<div class="row">
        	<center><span class="mainTitle h3"> 　アネラ　</span></center>
		</div>
    	<div class="row"> 　</div>
     	<hr>
      	<div class="">
      	<ul class="nav nav-pills">
			  <li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GIFT<span class="caret"></span></a>
				  <ul class="dropdown-menu">
					<li><a href="product-list.html">キャンバスアートフラワー</a></li>
					<li><a href="product-list.html">アレンジ（プリザーブドフラワー）</a></li>
					<li><a href="product-list.html">アレンジ（生花）</a></li>
					<li><a href="product-list.html">花束</a></li>
					<li><a href="product-list.html">動物シリーズ</a></li>
				  </ul>
            	</li>
			   <li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">WEDDING<span class="caret"></span></a>
				  <ul class="dropdown-menu">
					<li><a href="product-list.html">ブーケ（プリザーブドフラワー）</a></li>
					<li><a href="product-list.html">ブーケ（アート）</a></li>
					<li><a href="product-list.html">ブーケ（生花）</a></li>
					<li><a href="product-list.html">メインテーブルフラワー</a></li>
					<li><a href="product-list.html">ゲストテーブルフラワー</a></li>
					<li><a href="product-list.html">ヘッドドレス</a></li>
					<li><a href="product-list.html">ウエルカムボード</a></li>
				  </ul>
              </li>
			   <li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ビジネス<span class="caret"></span></a>
				  <ul class="dropdown-menu">
					<li><a href="product-list.html">アレンジ</a></li>
					<li><a href="product-list.html">花束</a></li>
					<li><a href="product-list.html">花束</a></li>
					<li><a href="product-list.html">スタンド</a></li>

				  </ul>
              </li>
			  <li role="presentation"><a href="#">フォーチュンフラワー</a></li>
			  <li role="presentation"><a href="#">書籍</a></li>
			  <li role="presentation"><a href="resv.html">レッスン</a></li>
			</ul>
		</div>
       <hr>
		<div class="row"> 　</div>
        <div class="row">
            <div class="col-md-12">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="img/1.gif" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="img/2.gif" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="img/3.jpg" alt="">
                                </div>

                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>


                </div>
                <div class="h4">
                    New Item
				</div>

                <div class="row">

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="img/i1.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">￥7,000</h4>
                                <h4><a href="product-list.html">ブーケ</a>
                                </h4>
                                <p th:text="#{home.welcome}">인사말</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="img/i2.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">￥3,000</h4>
                                <h4><a href="product-list.html">きれいな花</a>
                                </h4>
                                <p>これは説明です。袋の中にきれいなお花が入っています。<br/>ぜひ買ってください</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">12 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="img/i3.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">￥8,000</h4>
                                <h4><a href="product-list.html">巾着ブーケ</a>
                                </h4>
                                <p>かわいらしい巾着にお花を詰めました、そのままテーブルの上のお皿にポンと置いてもかわいらしい。プレゼントはもちろん、ウエディングのちょっとした引き出物におすすめです。</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">31 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="img/i4.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">￥5,000</h4>
                                <h4><a href="product-list.html">glass shose (red/purple)</a>
                                </h4>
                                <p>大輪のローズをあしらったガラスの靴。<br>透明感あるアクリル製の靴は品があり、ローズを引き立ててくれます。リボンに「Thankyou」のメッセージが添えられています。</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">6 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="img/i5.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">￥6,000</h4>
                                <h4><a href="product-list.html">flower box(rose)</a>
                                </h4>
                                <p>ブラックのボックスに真っ赤なバラが映える、スタイリッシュな商品です。</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>



                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 2017 anela Inc. All Rights Reserved.</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
<script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>