<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">


	<title>My-B</title>

	<!-- Jquery/ Bootstrap -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
	<script>
	tinymce.init({
		  selector: 'textarea',
		  height: 500,
		  theme: 'modern',
		  plugins: [
		    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
		    'searchreplace wordcount visualblocks visualchars code fullscreen',
		    'insertdatetime media nonbreaking save table contextmenu directionality',
		    'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc help'
		  ],
		  toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
		  toolbar2: 'print preview media | forecolor backcolor emoticons | codesample help',
		  image_advtab: true,
		  templates: [
		    { title: 'Test template 1', content: 'Test 1' },
		    { title: 'Test template 2', content: 'Test 2' }
		  ],
		  content_css: [
		    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
		    '//www.tinymce.com/css/codepen.min.css'
		  ]
		 });


	</script>
	<script	src="Js/common.js"></script>
	<script	src="Js/write.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link href="Css/common.css" rel="stylesheet">
	<link href="Css/write.css" rel="stylesheet">

</head>

<body>

	<!-- NAVBAR ================================================== -->
	<div class="jumbotron jumbotron-fluid" style="margin-bottom:0px;background-image: url('/img/main.jpg')">
		<div class="container" >

			<!-- ■■■■ブログタイトル ■■■■-->
			<h1 style="color:white;'">
				<span th:text="${blogContents.title}">title</span>
			</h1>

			<!-- ■■■■ブログサブタイトル ■■■■-->
			<p style="color:white;">
				<span th:text="${blogContents.subTitle}">subtitle</span>
			</p>
		</div>
	</div>

	<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<div th:include="commonTilesPart::header"></div>
			</div>
	</nav>

	<div class="container">
		<div class="dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
			<span class="caret"></span></button>
			<ul class="dropdown-menu">
			  <li><a href="#">HTML</a></li>
			  <li><a href="#">CSS</a></li>
			  <li><a href="#">JavaScript</a></li>
			</ul>
		</div>
		<hr>
	</div>


	<div class="container" >
		<textarea></textarea>
	</div>


	<footer th:include="commonTilesPart::footer"></footer>

	</body>
</html>
