<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="container" th:fragment="header">
	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<!-- ★Title★ -->
			<a class="navbar-brand siteTitle" href="/">My-B.ME</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<!-- ★カテゴリ★ -->
			<ul class="nav navbar-nav">
				<li th:if="${common != null}">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					カテゴリ
					<span class="caret"></span></a>

					<ul class="dropdown-menu">
						<li th:each="category:${common.categoryList}">
							<a href="#" th:text="${category.catecoryName}">categoryList.Name</a>
						</li>
					</ul>
				</li>
			</ul>

			<!-- ★検索テキストボックスと検索ボタン★ -->
			<form class="navbar-form navbar-right">
				<!-- 検索 -->
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search"></input>
				</div>
				<button type="submit" class="btn btn-default">検索</button>
			</form>

			<!-- ★ログインボタン★ -->
			<ul th:if="${common != null}" class="nav navbar-nav navbar-right">
				<li th:if="${common.isLogin == '0' }">
					<a href="/login">ログイン</a>
				</li>
			</ul>

			<!-- ★ログインボタン★ -->
			<ul th:if="${common != null}" class="nav navbar-nav navbar-right">
				<li th:if="${common.isLogin == '1' }">
					<a href="/logout">ログアウト</a>
				</li>
			</ul>

			<!-- ★書き込みボタン★ -->
			<ul th:if="${common != null}" class="nav navbar-nav navbar-right">
				<li th:if="${common.isMine == '1' }" >
					<a href="/write">書き込み</a>
				</li>
			</ul>


		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</div>




<footer class="footer" th:fragment="footer">
	<div class="container">
		<p th:if="${common != null}" class="text-muted">

			<a href="#">Today : 100 / All : 298427</a>
		</p>
	</div>
</footer>



</body>
</html>