<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">

	<title>My-B</title>
<!-- bootstrap -->
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- Js -->
	<script type="text/javascript" src="/resources/public/front/js/common.js"></script>
	<script type="text/javascript" src="/resources/public/front/js/user_post.js"></script>

<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/resources/public/front/css/common.css">
	<link href="/resources/public/front/css/user_post.css" rel="stylesheet">

</head>

<body>

	<!-- NAVBAR ================================================== -->
	<div class="jumbotron jumbotron-fluid" style="margin-bottom:0px;background-image: url('/resources/public/front/img/main.jpg')">
		<div class="container" >

			<!-- ■■■■ブログタイトル ■■■■-->
			<h1 style="color:white;'">
				<span th:text="${common.title}">title</span>
			</h1>

			<!-- ■■■■ブログサブタイトル ■■■■-->
			<p style="color:white;">
				<span th:text="${common.subTitle}">subtitle</span>
			</p>
		</div>
	</div>

	<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<div th:include="commonTilesPart::header"></div>
			</div>
	</nav>


	<!-- Marketing messaging and featurettes
	================================================== -->
	<!-- Wrap the rest of the page in another container to center all the content. -->

	<div class="container">

	  <!-- START THE FEATURETTES -->

<div th:each="post:${postList}">
	  <div class="row">
		<div class="col-sm-12">
		  <h2 class="featurette" th:text="${post.postTitle}">post.postTitle</h2>
		</div>
		<div class="col-sm-12" th:utext="${post.contests}">post.contests
		</div>

	  </div>
	   <hr class="featurette-divider">
</div>

	  <!-- /END THE FEATURETTES -->
	</div><!-- /.container -->


	<footer th:include="commonTilesPart::footer"></footer>
	</body>
</html>
