<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="commonTilesPart::includeCommon"></head>

<script type="text/javascript" src="/resources/public/front/js/user_post.js"></script>
<script type="text/javascript" src="/resources/public/front/js/prism.js"></script>

<link href="/resources/public/front/css/user_post.css" rel="stylesheet">
<link href="/resources/public/front/css/prism.css" rel="stylesheet" />

<body>
	<div th:replace="commonTilesPart::upperHeader"></div>


	<!-- NAVBAR ================================================== -->
	<div class="jumbotron jumbotron-fluid" style="margin-bottom:0px;background-image: url('/resources/public/front/img/main.jpg')">
		<div class="container" >

			<!-- ■■■■ブログタイトル ■■■■-->
			<h1 style="color:white;'">
				<span th:text="${common.title}">title</span>
			</h1>

			<!-- ■■■■ブログサブタイトル ■■■■-->
			<p style="color:white;">
				<span th:text="${common.subTitle}">subtitle</span>
			</p>
		</div>
	</div>

	<!-- Marketing messaging and featurettes
	================================================== -->
	<!-- Wrap the rest of the page in another container to center all the content. -->

	<div class="container">

	  <!-- START THE FEATURETTES -->

<div th:each="post:${postList}">
	  <div class="row">
		<div class="col-sm-12">
		  <h2 class="featurette" th:text="${post.postTitle}">post.postTitle</h2>
		</div>
		<div class="col-sm-12" th:utext="${post.contents}">post.contests
		</div>

	  </div>
	   <hr class="featurette-divider">
</div>

	  <!-- /END THE FEATURETTES -->
	</div><!-- /.container -->


	<footer th:include="commonTilesPart::footer"></footer>

	</body>
</html>
