<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>My-B</title>

	<script	src="/js/common.js" th:src="@{/js/common.js}"></script>
	<script	src="/js/write1.js" th:src="@{/js/write1.js}"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link href="/css/common.css" th:href="@{/css/common.css}" rel="stylesheet">
	<link href="/css/write.css" th:href="@{/css/write1.css}" rel="stylesheet">

</head>

<body>

	<!-- NAVBAR ================================================== -->
	<div class="jumbotron jumbotron-fluid" style="margin-bottom:0px;background-image: url('/img/main.jpg')">
		<div class="container" >

			<!-- ■■■■ブログタイトル ■■■■-->
			<h1 style="color:white;'">
				<span th:text="${blogContents.title}">title</span>
			</h1>

			<!-- ■■■■ブログサブタイトル ■■■■-->
			<p style="color:white;">
				<span th:text="${blogContents.subTitle}">subtitle</span>
			</p>
		</div>
	</div>

	<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<div th:include="commonTilesPart::header"></div>
			</div>
	</nav>

	<div class="container">
			<div class="well carousel-search">
				<div class="btn-group btn-block">
					<div class="dropdown">
						<label class="control-label" for="email">カテゴリ : </label>	 
						<button class="btn btn-default dropdown-toggle " type="button" data-toggle="dropdown">
							カテゴリ選択   <span class="caret"></span>
						</button>
						 
						<ul class="dropdown-menu">
							<li th:each="category:${blogContents.categoryList}">
								<a href="#" class="category" th:text="${category.catecoryName}">categoryList.Name</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="btn-group btn-block">

				</div>
				<div id="map"></div>

			<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx8Vpd0HQOU577Ik8IrNHAa5YzI_Lw_ng&callback=initMap">

			</script>
		</div>

		<hr>
	</div>


	<div class="container" >
		<textarea></textarea>
	</div>


	<footer th:include="commonTilesPart::footer"></footer>

	</body>
</html>
