<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>My-B</title>

<!-- bootstrap -->
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=ezk8qp0c5xbch4sz9mlc7sj3f0v3oks06rxyatgli9vaifl7"></script>
<!-- Js -->
	<script type="text/javascript" src="/resources/public/front/js/common.js"></script>
	<script type="text/javascript" src="/resources/public/front/js/write.js"></script>


<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/resources/public/front/css/common.css">
	<link rel="stylesheet" href="/resources/public/front/css/write.css" >

</head>

<body>

	<!-- NAVBAR ================================================== -->
	<div class="jumbotron jumbotron-fluid" style="margin-bottom:0px;background-image: url('/resources/public/front/img/main.jpg')">
		<div class="container" >

			<!-- ■■■■ブログタイトル ■■■■-->
			<h1 style="color:white;'">
				<span th:text="${common.title}">title</span>
			</h1>

			<!-- ■■■■ブログサブタイトル ■■■■-->
			<p style="color:white;">
				<span th:text="${common.subTitle}">subtitle</span>
			</p>
		</div>
	</div>

	<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<div th:include="commonTilesPart::header"></div>
			</div>
	</nav>
<form>
	<div class="container">
		<div class="col col-sm-12">
			<input type="text" id="title" class="form-control">
		</div>

		<div class="col col-sm-1" >Category：</div>
		<div class="col col-sm-11">

				<select id="category" name="cars" th:each="category:${common.categoryList}">
					<option th:attr="value=${category.categoryCode}">
						<span th:text="${category.catecoryName}">
							categoryList.Name
						</span>
					</option>
				</select>

			</div>

		<div class="col-sm12">
			<input type="checkbox" id="mapCheck"> 位置データを含めます。

			<div style="display:none;" id="mapDiv">
				<input id="pac-input" class="controls" type="text" placeholder="Search Box">
				<div id="map"></div>

			</div>
		</div>
	</div>

</form>



	<hr>

	<div class="container" >
		<textarea id="contents"></textarea>
	</div>

	<div class="container text-right">
	<hr>
		<button class="btn btn-lg btn-primary" onclick="writePost('1')">下書き</button>
		<button class="btn btn-lg btn-info" onclick="writePost('2')">全員に公開</button>
		<button class="btn btn-lg btn-info" onclick="writePost('3')">友達限定公開</button>
	</div>

	<footer th:include="commonTilesPart::footer"></footer>

	</body>
</html>
